@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-start: antiquewhite;
  --background-end:lightyellow;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

.todo-list{
  background-color: #ffd9df;
  width: 550px;
}

.todo-list-title {
  background-color: pink;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.todo-list-body {
  max-height: 800px;
  overflow: auto;

}
.todo-list-item{
  padding: 8px;
  border-bottom: 1px solid lightpink;
}
.todo-list-item-time{
  color: #999;
  font-size: 14px;
}
.todo-list-item__foot{
  margin: 0 5px;
}
.todo-input{
  width: 450px;
  height: 100%;
  padding: 8px;
  font-size: 18px;
  box-shadow: 10px 10px 10px lightgray;
}
textarea:focus-visible{
  outline: unset;
}
.todo-list-item-done{
  cursor: pointer;
  color:#67C23A;
  border: 1px solid #67C23A;
  border-radius: 5px;
  border-radius: 5px;
  padding: 0 2px;
  width: 18px;
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 5px;
}
.todo-list-item-edit{
  cursor: pointer;
  color:#67C23A;
  font-size: 16px;
}
.todo-list-item-edit +.todo-list-item-edit{
  margin-left: 5px;
}
.todo-list-item-content-del{
  font-style:italic;
  color:#909399;
}